[submodule "features/css-mansory"]
	path = features/css-mansory
	url = git@github.com:CodeSteppe/css-mansory.git
[submodule "features/video-inside-text2"]
	path = features/video-inside-text2
	url = git@github.com:CodeSteppe/video-inside-text2.git
[submodule "features/css-scroll-slider"]
	path = features/css-scroll-slider
	url = git@github.com:CodeSteppe/css-scroll-slider.git
