[submodule "features/css-mansory"]
	path = features/css-mansory
	url = git@github.com:CodeSteppe/css-mansory.git
[submodule "features/video-inside-text2"]
	path = features/video-inside-text2
	url = git@github.com:CodeSteppe/video-inside-text2.git
[submodule "features/css-scroll-slider"]
	path = features/css-scroll-slider
	url = git@github.com:CodeSteppe/css-scroll-slider.git
[submodule "features/text-reflection"]
	path = features/text-reflection
	url = git@github.com:CodeSteppe/text-reflection.git
[submodule "features/image-compare"]
	path = features/image-compare
	url = git@github.com:CodeSteppe/image-compare.git
[submodule "features/stamp-border"]
	path = features/stamp-border
	url = https://github.com/CodeSteppe/stamp-border
[submodule "features/css-3d-tunnel"]
	path = features/css-3d-tunnel
	url = git@github.com:CodeSteppe/css-3d-tunnel.git